### Librer√≠as y entorno

In [1]:
import pandas as pd
import numpy as np

### Carga de los datos

In [2]:
# Carga y procesamiento de datos
path = 'C:/Users/Bcaro/OneDrive/Documentos/VSC/Skillnest/Boot/Clases y ejercicios/Excels - Datos/retail_sales_dataset.csv'
df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [10]:
df['Normal Total Amount'] =((df['Total Amount'] - df['Total Amount'].mean())/df['Total Amount'].std())**2
print(df)
df['Tiket bin'] = ('CAT-1' if df['Normal Total Amount'] < 0.2 else
                   'CAT-2' if df['Normal Total Amount'] < 0.4 else
                   'CAT-3' if df['Normal Total Amount'] < 0.6 else
                   'CAT-4' if df['Normal Total Amount'] < 0.8 else 'CAT-5')

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Normal Total Amount
0           3              50           150             0.298587
1           2             500          1000             0.943681
2           1              30            30             0.578691
3           1             500           500             0.006174
4           2              50           100             0.404136
..        ...             ...           ...                  ...
995         1              50            50             0.525629
996         3              30            90             0.427159
997         4              25           100             0.404136
998         3              50           150             0.298587
999         4              30           120             0.360003

[1000 rows x 10 columns]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().